# All Files
# * @LightHostingFree

# Reserved Domains
# domains/reserved/* @is-cool-me/owners

# User Domains
domains/* @drsatanic

# MD Files
# *.md @is-cool-me/owners

# System Files
# *.yml @is-cool-me/owners
# *.js @is-cool-me/owners
# *.png @is-cool-me/owners
# *.py @is-cool-me/owners

# etc/* @is-cool-me/owners
